@model Character

@{
    ViewBag.Title = Model.Name;
}

<div class="col-xs-10 col-xs-offset-1" align="center">
    <h1>@Model.Name</h1>
    <div class="row">
        <div class="col-xs-2" align="right" style="border-right: 2px solid grey;">
            <div>
                <b>Class</b>
            </div>
            <br />
            <div>
                <b>Alignment</b>
            </div>
            <br />
            <div>
                <b>Race</b>
            </div>
            <br />
            <div>
                <b>Level</b>
            </div>
            <br />
            <div>
                <b>Experience</b>
            </div>
            <br />
            <div>
                <b>Speed</b>
            </div>
        </div>
        <div class="col-xs-10" align="left" style="background-color: whitesmoke; border-radius: 5px 30px 30px 5px;">
            <div>
                @Model.Class.Name
            </div>
            <br />
            <div>
                @Model.Alignment.Name
            </div>
            <br />
            <div>
                @Model.Subrace.Name
            </div>
            <br />
            <div>
                @Model.Level
            </div>
            <br />
            <div>
                @Model.Experience
            </div>
            <br />
            <div>
                @Model.Speed
            </div>
        </div>
    </div>
    <br />
    <a class="btn btn-default" asp-action="Index" asp-controller="Home">Home</a>
</div>

