@model Character

<section class="panel panel-default">
    <h3 class="panel-heading">@Model.Name</h3>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2" align="right" style="border-right: 2px solid grey">
                <div>
                    Alignment
                </div>
                <div>
                    Race
                </div>
            </div>
            <div class="col-xs-10">
                <div>
                    @Model.Alignment.Name
                </div>
                <div>
                    @Model.Race.Name
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.Id">More</a>
        <a class="btn btn-default" asp-page="/Characters/Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>